    <div class="logos">
      <div class="logos-slide">
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
        <div><img src="./assets/tomhardy.jpg" /></div>
      </div>
    </div>