<div class="page-container">
    <div class="movies-container">
        <div class="search">
            <input type="text" (input)="onSearchChange()" pInputText [(ngModel)]="searchValue" />
            <p-radioButton (click)="onRadioChange()" name="genre" value="All" [(ngModel)]="genre" inputId="All"></p-radioButton>
            <label for="All" class="ml-2">All</label>
            <p-radioButton (click)="onRadioChange()" name="genre" value="Comedy" [(ngModel)]="genre" inputId="Comedy"></p-radioButton>
            <label for="Comedy" class="ml-2">Comedy</label>
            <p-radioButton (click)="onRadioChange()" name="genre" value="Drama" [(ngModel)]="genre" inputId="Drama"></p-radioButton>
            <label for="Drama" class="ml-2">Drama</label>
        </div>
        <div class="movies">
            <div *ngFor="let movie of movies" (click)="NavigateTo(movie.id) "class="movie-card">
                <img [src]="movie.posterURL" />
                <h4>{{movie.title}}</h4>
            </div>
        </div>
        <div class="paginator">
            <p-paginator *ngIf="refreshBoolean" (onPageChange)="onPageChange($any($event))" [first]="first" [rows]="6"
                [totalRecords]="totalRecordsCount"></p-paginator>
        </div>
    </div>
</div>