
<div class="creation-background">
    <form class="form-container" [formGroup]="updateMovieForm" (ngSubmit)="UpdateMovieImageCheck()">
        <div> <label>Title:</label><input type="text" formControlName="title"/></div>
        <div> <label>Release Date:</label><input type="number" formControlName="releaseDate"/></div>
        <div> <label>Length:</label><input type="number" formControlName="length"/></div>
        <div> <label>Genre:</label><input type="text" formControlName="genre"/></div>
        <div> <label>Language:</label><input type="text" formControlName="language" /></div>
        <div> <label>Description:</label><textarea formControlName="description"></textarea></div>
        <div class="file"><label>Image:</label><input class="file" type="file" (change)="OnImageChange($event)"/></div>
        <div class="button"> <button type="submit">Edit Movie</button></div>
    </form>
</div>